<!doctype html>
<title>{% block title %}{% endblock %} - Smart India Hackathon</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1></h1>
  <ul>
    <li><a href="{{ url_for('dataset.index') }}">Datasets</a></li>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
